* {
  margin: 0%;
  padding: 4%;
}
.red {
  color: red;
}

.nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  > ul {
    width: 30%;
    font-size: 20px;
    display: flex;
    justify-content: space-around;

    > li {
      list-style: none;
      margin-top: 5px;
    }
  }
  > h3 {
    font-size: 30px;
  }
}

.main {
  min-height: 90vh;
}
