.navbar {
  position: relative;
  z-index: 10;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  margin-right: 1rem;
}

.navbar-collapse {
  justify-content: space-between;
}

@media (max-width: 991px) {
  .navbar-collapse {
    text-align: center;
  }
  .navbar-nav {
    margin-bottom: 1rem;
  }
  .d-flex {
    justify-content: center;
  }
}
